extends base.jade

block header
	h1 Donations

block content
	div(class="container")
		table(id="donationTable",class="table table-condensed table-striped tablesorter")
			thead
				tr
					th Donor Name
					th Donor Email
					th Institution
					th Slot
					th Add-ons
					th Amount
					th Donor Visit
					th Category
					th Date
			tbody
				each donation in donations
					tr
						td #{donation.donorid.name}
						td #{donation.donorid.email}
						td #{donation.institution.name}
						td #{donation.slot}
						td #{donation.addons}
						td #{donation.amount}(in Rs.)
						if donation.present
							td Yes
						else
							td No
						td #{donation.category}
						td #{donation.date}
		br
		br

block js
	script(type="text/javascript").
		$(function(){
			$("#donorTable").tablesorter( {sortList: [[7,0],]} ); 
		});