extends base.jade

block header
	<h1>Institution

block content
	p
		#institutions

	div(class="container")
		table(class="table table-condensed table-striped")
			thead
				tr
					th ID
					th Name
					th Address
					th Category
					th Capacity
					th
			tbody
				each institution in institutions
					tr(id="#{institution.id}")
						td #{institution.id}
						td(class="institution_name") #{institution.name}
						td(class="institution_address") #{institution.address}
						td(class="institution_category") #{institution.category}
						td(class="institution_capacity") #{institution.capacity}
						td
							button(id="delete",class="btn btn-xs btn-danger delete", insti_id="#{institution.id}")
								span(class="glyphicon glyphicon-remove")
							&nbsp;
							button(class="btn btn-xs btn-success edit-btn", institution_id="#{institution.id}",data-toggle="modal",data-target="#edit-modal")
								span(class="glyphicon glyphicon-pencil")
	br
	br

	div(class="row")
		div(class="col-md-offset-1 col-md-10")
			form(id="add-form",class="form-horizontal",action="/api/institutions",method="POST")
				fieldset
					legend Add Institution
					br
					div(class="form-group")
						label(for="name",class="control-label col-md-2") Name
						div(class="col-md-10")
							input(type="text",class="form-control",id="add_name",name="name",placeholder="Name",required)
					div(class="form-group")
						label(for="address",class="control-label col-md-2") Address
						div(class="col-md-10")
							input(type="text",class="form-control col-md-10",id="add_address",name="address",placeholder="Address",required)
					div(class="form-group")
						label(for="category",class="control-label col-md-2") Category
						div(class="col-md-10")
							input(type="text",id="add_category",name="category",class="form-control col-md-10",placeholder="Category",required)
					div(class="form-group")
						label(for="capacity",class="control-label col-md-2") Capacity
						div(class="col-md-10")
							input(type="number",class="form-control col-md-10",id="add_capacity",name="capacity",placeholder="Capacity",required)

					div(class="form-group")
						div(class="col-md-offset-2 col-md-10")
							button(type="button",class="btn btn-default",id="submit-form") Add 

	div(id="edit-modal",class="modal fade",role="dialog")
					div(class="modal-dialog")
						div(class="modal-content")
							div(class="modal-header")
								h4(class="modal-title") Edit

							div(class="modal-body")
								form(id="edit-form",class="form-horizontal",method="patch")
									div(class="form-group")
										label(for="name",class="control-label col-md-2") Name
										div(class="col-md-10")
											input(type="text",class="form-control",id="name",name="name",placeholder="Name")
									div(class="form-group")
										label(for="address",class="control-label col-md-2") Address
										div(class="col-md-10")
											input(type="text",class="form-control col-md-10",id="address",name="address",placeholder="..")
									div(class="form-group")
											label(for="category",class="control-label col-md-2") Category
											div(class="col-md-10")
												input(type="text",class="form-control col-md-10",id="category",name="category",placeholder="Category..")
									div(class="form-group")
											label(for="capacity",class="control-label col-md-2") Capacity
											div(class="col-md-10")
												input(type="number",class="form-control col-md-10",id="capacity",name="capacity",placeholder="0")

							div(class="modal-footer")
								button(id="edit-confirm",type="submit",class="btn btn-default",data-dismiss="modal") Confirm
								button(class="btn btn-default",data-dismiss="modal") Cancel


block js
	script(type="text/javascript").
		$(function() {
			var getFormData = function($form){
				var unindexed_array = $form.serializeArray();
				var indexed_array = {};

			    $.each(unindexed_array, function(i, n){
			        indexed_array[n['name']] = n['value'];
			    });
			    return indexed_array;
			}
			$('#submit-form').click(function() {
				
				$.ajax({
					url: $('#add-form').attr('action'),
					method: $('#add-form').attr('method'),
					data: JSON.stringify(getFormData($('#add-form'))),
					contentType: 'application/json',
					success: function(res) {
						var r = $.parseJSON(JSON.stringify(res));
						if(r.error)
							alert("Error :" + r.error);
						else
							location.reload();
					}
					
				});
			});
			$('.delete').click(function(){
				var id = $(this).attr('insti_id');
				event.preventDefault();
				$.ajax({
					url : '/api/institutions/'+id,
					method: 'DELETE',
					success: function(res){
						var r = $.parseJSON(JSON.stringify(res));
						if(r.error)
							alert("Error : "+ r.error);
						else
							location.reload();
					}
				});
			});

			$('.edit-btn').click(function(){
				institution_id = $(this).attr('institution_id');
				
				var institution_row = $('#'+ institution_id);
				var institution_name = institution_row.find('.institution_name').text();
				var institution_address = institution_row.find('.institution_address').text();
				var institution_category = institution_row.find('.institution_category').text();
				var institution_capacity = institution_row.find('.institution_capacity').text();
				var edit_form = $('#edit-form');
				edit_form.attr('institution_id',institution_id);
				edit_form.find('#name').val(institution_name);
				edit_form.find('#address').val(institution_address);
				edit_form.find('#category').val(institution_category);
				edit_form.find('#capacity').val(institution_capacity);
			});

			$('#edit-confirm').click(function(event) {
				$.ajax({
					url: '/api/institutions/'+$('#edit-form').attr('institution_id'),
					method: $('#edit-form').attr('method'),
					data: JSON.stringify(getFormData($('#edit-form'))),
					contentType: 'application/json',
					success: function(res) {
						var r = $.parseJSON(JSON.stringify(res));
						if(r.message!=="Success")
							alert("Error : "+ r.message);
						else
							location.reload();
					}
					
				});
				return false;
			});
		});

		function validate_form(form)
		{
			var institution_name = $("#name").val();
			var institution_address = $("#address").val();
			var institution_category = $("#category").val();
			var institution_capacity = $("#capacity").val();

			if(institution_name.trim()==="")
			{
				$('#add-name').append('<p>Cannot be empty</p>');
				return false;
			}
		}
